<div class="header-selecionado" [ngClass]="{'active': selectedEquipamentos.length != 0}">
    <div class="infoms">
        <i class="fa-solid fa-xmark" style="margin-right: 10px;" (click)="selectedEquipamentos = []"></i>
        {{selectedEquipamentos.length}} selecionados
    </div>
    <div class="acoes">
        <div class="delete" (click)="deletarEquipamentos(selectedEquipamentos)">
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
</div>
<div class="container">
    <div class="informs">
        <div class="totais" [ngClass]="{'mapaOff': !ocultarMapa}">
            <div class="card">
                <h1>ONLINE</h1>
                <div>
                    <div class="online"></div>
                    <span>{{onlineCount}}</span>
                </div>
            </div>
            <div class="card">
                <h1>OFFLINE</h1>
                <div>
                    <div class="offline"></div>
                    <span>{{offlineCount}}</span>
                </div>
            </div>
            <div class="card">
                <h1>EQUIPAMENTOS</h1>
                <div>
                    <span>{{equipamentos.length}}</span>
                </div>
            </div>
            <div class="card" style="cursor: pointer;" (click)="openAlerts()">
                <h1>ALERTAS HOJE</h1>
                <div>
                    <span>{{alertsHoje.length}}</span>
                </div>
            </div>
            <div class="card" style="cursor: pointer;" (click)="displayBypass = true">
                <h1>EM BYPASS</h1>
                <div>
                    <img src="assets/alerta.png" alt="" style="width: 30px; height: auto;">
                    <span>{{emBypass.length}}</span>
                </div>
            </div>
        </div>

        <div class="content_equipamentos">
            <div class="description-filters" [ngClass]="{'mapaOff': ocultarMapa}">
                <h2>Equipamentos</h2>
                <div class="filters">
                    <div class="filter">
                        <div class="search">
                            <i class=" fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="Pesquisar Equipamento" [(ngModel)]="searchEquipamentos" />
                        </div>
                        <div class="btn online" [ngClass]="{ 'active': filterStatus === true }"
                            (click)="toggleComSinal()">
                            <div></div>
                            <span>Online</span>
                        </div>
                        <div class=" btn offline" [ngClass]="{ 'active': filterStatus === false }"
                            (click)="toggleSemSinal()">
                            <div></div>
                            <span>Offline</span>
                        </div>
                        <div class=" btn contrato" (click)="toggleContrato()"
                            [ngClass]="{ 'active': filterContrato === true }">
                            🤝
                            <span>Contratos {{filteredEquipamentos.length}}</span>
                        </div>
                    </div>
                </div>
            </div>


            <div cdkDropList class="equipamentos" (cdkDropListDropped)="drop($event)" cdkDropListOrientation="mixed"
                [ngClass]="{'mapaOn': !ocultarMapa}">
                <div *ngFor="let equipamento of filteredEquipamentos" class="card" cdkDrag
                    (click)="selectOrOpenDialog(equipamento)"
                    [ngClass]="{'selected': isSelecionado(equipamento), 'contrato': equipamento.contrato === true}">
                    <span class="nome">{{ equipamento.nome }}</span>
                    <span class="status">
                        <div [class.online]="equipamento.status === 'online'"
                            [class.offline]="equipamento.status === 'offline'"></div>
                        {{ equipamento.status }}
                    </span>
                    <span class="local"><strong>Local</strong>: {{ equipamento.endereco }}</span>
                    <span class="atualizacao"><strong>Atualização</strong>: {{
                        formatarData(equipamento.ultimaAtualizacao )}}</span>

                    <div class="select" (click)="select(equipamento, $event)">
                        <i class="fa-solid fa-check"></i>
                    </div>
                </div>

                <span style="font-size: 14px;" *ngIf="filteredEquipamentos.length === 0">
                    Nenhum cliente encontrado
                </span>
            </div>
        </div>
    </div>
    <div class="ocultar-mapa" (click)="btnOcultarMapa()">
        <i class="fa-solid" [ngClass]="{'fa-angle-left': ocultarMapa, 'fa-angle-right': !ocultarMapa}"></i>
    </div>
    <div class="mapa" leaflet [leafletOptions]="options" [leafletLayers]="layers" *ngIf="!ocultarMapa">
        <a class="full" target="_blank" href="/mapa">
            <i class="fa-solid fa-expand"></i>
        </a>
    </div>
</div>




<p-dialog header="Editar informações" [(visible)]="display" modal="true" [style]="{ width: '350px' }"
    (onHide)="onDialogHide()" class="dialog-cliente">

    <form [formGroup]="editEquipamento" (ngSubmit)="salvarEquipamento()">
        <div class="dialog-content">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input id="nome" type="text" pInputText formControlName="nome" placeholder="Digite o nome do cliente">
            </div>

            <div class="form-group">
                <label for="nome">Contato</label>
                <input id="nome" type="text" pInputText formControlName="contato"
                    placeholder="Digite o nome do cliente">
            </div>

            <div class="form-group">
                <label for="nome">IP</label>
                <input id="nome" type="text" pInputText formControlName="ip" placeholder="Digite o nome do cliente">
            </div>

            <div class="form-group">
                <label for="nome">Endereço</label>
                <input id="nome" type="text" pInputText formControlName="endereco"
                    placeholder="Digite o nome do cliente">
            </div>

            <div class="form-group">
                <label for="nome">Status</label>
                <input id="nome" type="text" pInputText formControlName="status" placeholder="Digite o nome do cliente">
            </div>

            <div class="form-group">
                <label for="nome">Última atualização</label>
                <input id="nome" type="text" pInputText formControlName="ultimaAtualizacao"
                    placeholder="Digite o nome do cliente">
            </div>

            <div class="form-group">
                <label for="nome">Observação</label>
                <textarea rows="5" cols="30" placeholder="Anote alguma Observação" pTextarea [autoResize]="true"
                    formControlName="observacao"></textarea>
            </div>
            <div class="flex items-center">
                <p-checkbox inputId="ingredient1" name="pizza" formControlName="checkedContrato" binary="true" />
                <label for=" ingredient1" class="ml-2"> Contrato? </label>
            </div>

            <!-- Botão Criar -->
            <div class="form-group buttons">
                <button type="submit" label="Criar" [disabled]="editEquipamento.invalid">Salvar equipamento </button>
            </div>

        </div>
    </form>
</p-dialog>

<p-dialog header="NO-BRAKS EM BYPASS" [(visible)]="displayBypass" modal="true" [style]="{ width: '350px' }"
    (onHide)="onDialogHide()" styleClass="dialog-bypass">


    <div cdkDropList class="equipamentos">
        <div *ngFor="let equipamento of emBypass" class="card" [ngClass]="{'selected': isSelecionado(equipamento)}">

            <span class="nome"> {{ equipamento.nomeSistema }}</span>
            <span class="ip"><strong>IP</strong>: {{ equipamento.ip }}</span>
            <span class="status"><strong>Status</strong>: {{ equipamento.status }}</span>
            <span class="data"><strong>Data</strong>: {{ equipamento.data }}</span>
            <span class="hora"><strong>Hora</strong>: {{ equipamento.hora }}</span>
            <span class="aviso"><strong>Aviso</strong>: {{ equipamento.aviso }}</span>
            <span class="localidade"><strong>Localidade</strong>: {{ equipamento.localidade }}</span>
            <span class="contato"><strong>Contato</strong>: {{ equipamento.contato }}</span>

        </div>


        <span style="font-size: 14px;" *ngIf="filteredEquipamentos.length === 0">
            Nenhum cliente encontrado
        </span>
    </div>


</p-dialog>

<p-dialog header="ALERTAS HOJE" [(visible)]="displayAlerta" modal="true" [style]="{ width: '350px' }"
    (onHide)="onDialogHide()" styleClass="dialog-alerts">

    <div class="content">
        <div cdkDropList class="equipamentos">
            <div *ngFor="let equipamento of alertsHoje" class="card"
                [ngClass]="{'selected': isSelecionado(equipamento)}">

                <span class="nome"> {{ equipamento.nomeSistema }}</span>
                <span class="ip"><strong>IP</strong>: {{ equipamento.ip }}</span>
                <span class="status"><strong>Status</strong>: {{ equipamento.status }}</span>
                <span class="data"><strong>Data</strong>: {{ equipamento.data }}</span>
                <span class="hora"><strong>Hora</strong>: {{ equipamento.hora }}</span>
                <span class="aviso"><strong>Aviso</strong>: {{ equipamento.aviso }}</span>
                <span class="localidade"><strong>Localidade</strong>: {{ equipamento.localidade }}</span>
                <span class="contato"><strong>Contato</strong>: {{ equipamento.contato }}</span>

            </div>


            <span style="font-size: 14px;" *ngIf="filteredEquipamentos.length === 0">
                Nenhum cliente encontrado
            </span>
        </div>

        <div class="reports">
            <h2>Relatorios de alertas</h2>

            <div class="clientes">

            </div>

            <div class="ocultar">
                <i class="fa-solid" [ngClass]="{'fa-angle-left': ocultarMapa, 'fa-angle-right': !ocultarMapa}"></i>
            </div>
        </div>

    </div>



</p-dialog>