@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --sidebar-bg: #2f3d4a;
  --topbar-bg: #344156;
  --content-bg: #f4f7fa;
  --card-bg: #ffffff;
  --text-main: #2c3e50;
  --text-light: #7f8c8d;
  --border-light: #eceef1;
}



// reset básico
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}


// layout geral
.layout {
    display: flex;
    height: 100vh;
}

body{
    color: var(--text-main);
    background-color: white;
}